article, aside, blockquote, body, div, figure, form, h1, h2, h3, h4, h5, h6, header, li, nav, p, section, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li, ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #ee303b;
}

body {
  color: #000;
  font-size: 14px;
  width: 100%;
  font-family: "Mulish", sans-serif;
}

.textcred {
  color: #ed2f3c;
}

.notob-regular, body {
  font-family: "Noto Serif Bengali", serif;
  font-weight: 400;
}

.notob-bold {
  font-family: "Noto Serif Bengali", serif;
  font-weight: 700;
}

.grycolor {
  color: #5b5b5b;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.pt-32 {
  padding-top: 32px;
}

.pb-32 {
  padding-bottom: 32px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 48px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.sticky-ad {
  position: sticky;
  top: 43px;
  left: 0;
  z-index: 9;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ad300x600 {
  height: 625px;
  text-align: center;
}

.ad970x250 {
  height: 275px;
  text-align: center;
}

.header-sticky-ad {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ad970x280 {
  height: 305px;
  text-align: center;
}

.ad280 {
  height: 305px;
  text-align: center;
}

.ad600 {
  height: 625px;
  text-align: center;
}

.ad250 {
  height: 275px;
  text-align: center;
}

.ad90 {
  height: 115px;
  text-align: center;
}

.stickad {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  flex-direction: column;
}

figure {
  position: relative;
}

.dfjcsb {
  display: flex;
  justify-content: space-between;
}

.tac {
  text-align: center;
}

.df {
  display: flex;
}

.taright {
  text-align: right;
}

.betellips {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.betvl-1 {
  -webkit-line-clamp: 1;
}

.betvl-2 {
  -webkit-line-clamp: 2;
}

.betvl-3 {
  -webkit-line-clamp: 3;
}

.betvl-4 {
  -webkit-line-clamp: 4;
}

.betvl-5 {
  -webkit-line-clamp: 5;
}

.betvl-6 {
  -webkit-line-clamp: 6;
}

.betvl-7 {
  -webkit-line-clamp: 7;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .scroll-line-horizontal {
    display: none;
  }
  .list-open-menu ul {
    flex-wrap: wrap;
  }
  .list-open-menu ul li {
    width: 100%;
    font-size: 34px;
  }
  .btnTalkToUs span:nth-child(2) {
    display: none;
  }
}
.sec-leadingPartners {
  background-color: #EFEFEF;
  padding: 50px 0;
}
.sec-leadingPartners .SLR-vertical-Small {
  height: 154px;
  background-color: rgba(0, 0, 0, 0.41);
  left: 120px;
  top: 0;
}
.sec-leadingPartners .SLR-vertical-Small .pulse {
  top: 154px;
  background: #000;
  animation: shadow-pulse-leading 1.5s infinite;
}
@keyframes shadow-pulse-leading {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.582);
  }
  100% {
    box-shadow: 0 0 7px 25px rgba(0, 112, 244, 0);
  }
}
.sec-leadingPartners .LeadingPartners-slider .slick-prev, .sec-leadingPartners .LeadingPartners-slider .slick-next {
  top: unset;
  bottom: -34%;
  width: 38px;
  height: 38px;
}
.sec-leadingPartners .LeadingPartners-slider .slick-prev::before, .sec-leadingPartners .LeadingPartners-slider .slick-next::before {
  content: "";
  width: 38px;
  height: 38px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  border: 1px solid #000;
  border-radius: 50%;
  background-position: center;
}
.sec-leadingPartners .LeadingPartners-slider .slick-prev {
  left: 0px;
  right: unset;
}
.sec-leadingPartners .LeadingPartners-slider .slick-next {
  right: 0px;
}
.sec-leadingPartners .LeadingPartners-slider .slick-prev:before {
  background: url("../images/arrow_back_black.png") no-repeat;
  background-position: center;
}
.sec-leadingPartners .LeadingPartners-slider .slick-next:before {
  background: url("../images/arrow_forward_black.png") no-repeat;
  background-position: center;
}
.sec-leadingPartners .title-big-text {
  color: #000000;
  font-size: 28px;
}
.sec-leadingPartners .item-partners {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.sec-leadingPartners .item-partners .logo-item-partners {
  background-color: #fff;
  width: 140px;
  height: 80px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1607843137);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-leadingPartners .item-partners .logo-item-partners:first-child {
  margin-bottom: 30px;
}

.sec-planAcampaign {
  background-color: #000;
}
.sec-planAcampaign .bx-planCampaign {
  display: flex;
  justify-content: end;
  padding-top: 24px;
  position: relative;
}
.sec-planAcampaign .bx-planCampaign .inner-planCampaign {
  width: 100%;
  padding: 16px;
  padding-bottom: 60px;
}
.sec-planAcampaign .title-ww-create {
  margin-top: 48px;
  color: #fff;
}
.sec-planAcampaign .list-planCampaign ul {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 8px;
}
.sec-planAcampaign .list-planCampaign ul li {
  text-align: center;
}
.sec-planAcampaign .list-planCampaign ul li .item-list-plan {
  padding: 12px 5px 0;
  width: 76px;
  height: 110px;
  background-color: #2C2C2C;
  border-radius: 6px;
  font-size: 12px;
}
.sec-planAcampaign .list-planCampaign ul li .item-list-plan .text-list-plan {
  padding-top: 12px;
  color: #fff;
}
.sec-planAcampaign .list-planCampaign ul li.active .item-list-plan {
  background-color: #646464;
  border: 1px solid #DDDDDD;
}
.sec-planAcampaign .total-budget {
  margin-top: 40px;
  text-align: center;
}
.sec-planAcampaign .total-budget p {
  color: #BBBBBB;
  font-size: 16px;
}
.sec-planAcampaign .total-budget h3 {
  font-size: 30px;
  color: #FFFFFF;
  font-weight: bold;
  margin-top: 6px;
}
.sec-planAcampaign .min-max-slider {
  color: #fff;
  text-align: center;
  margin-top: 24px;
}
.sec-planAcampaign .content-piece-cost {
  margin-top: 40px;
}
.sec-planAcampaign .content-piece-cost ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}
.sec-planAcampaign .content-piece-cost ul li {
  width: 100%;
}
.sec-planAcampaign .content-piece-cost ul li .item-content-piece-cost {
  background-color: #fff;
  padding: 24px;
  text-align: center;
  width: 100%;
  border-radius: 4px;
}
.sec-planAcampaign .content-piece-cost ul li .item-content-piece-cost p {
  font-size: 16px;
}
.sec-planAcampaign .content-piece-cost ul li .item-content-piece-cost h3 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 8px;
}
.sec-planAcampaign .btnTalkToUs {
  margin-top: 40px;
  color: #fff;
  margin: 40px auto 0;
}
.sec-planAcampaign .pulse {
  background: #fff;
}
.sec-planAcampaign .SLR-vertical-Small {
  right: 30%;
  background-color: rgba(255, 255, 255, 0.41);
}
.sec-planAcampaign .SLR-vertical-Small .pulse {
  top: 75%;
}
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.582);
  }
  100% {
    box-shadow: 0 0 7px 25px rgba(255, 255, 255, 0);
  }
}
.sec-planAcampaign input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #111;
  background: #656565;
  cursor: pointer;
  z-index: 999;
}
.sec-planAcampaign .slider {
  width: 100%;
}
.sec-planAcampaign .slider__ranges {
  display: flex;
  position: relative;
}
.sec-planAcampaign .slider__ranges p {
  font-size: 14px;
  color: #DDDDDD;
}
.sec-planAcampaign .slider__ranges p:last-of-type {
  position: absolute;
  right: 0;
}
.sec-planAcampaign .slider__input {
  position: relative;
}
.sec-planAcampaign .slider__input_slider {
  background-color: #f00;
  border-radius: 0px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.sec-planAcampaign .slider__input_tracker {
  position: absolute;
  height: 34px;
  border-radius: 5px;
  top: 15px;
}

.sec-areYouCreator {
  background: url("../images/bg-creator.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 60px 0;
  text-align: center;
}
.sec-areYouCreator .title-creator h4 {
  color: #B5B5B5;
  font-size: 36px;
  font-weight: 900;
  line-height: 56px;
}
.sec-areYouCreator .title-creator h3 {
  color: #FFFFFF;
  font-size: 60px;
  font-weight: 900;
  line-height: 56px;
}
.sec-areYouCreator .form-creator {
  border-top: 1px solid #8e8e8e;
  padding-top: 46px;
  width: 860px;
  margin: 0 auto;
  margin-top: 48px;
}
.sec-areYouCreator .form-row {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin: 0 auto;
}
.sec-areYouCreator .form-row .form-field {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
}
.sec-areYouCreator .form-row .form-field label {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
.sec-areYouCreator .form-row .form-field input {
  width: 100%;
  height: 60px;
  margin-top: 16px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border: 1px solid #56669D;
  border-radius: 6px;
}
.sec-areYouCreator .form-row-btn {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.sec-areYouCreator .form-row-btn .btnTalkToUs {
  color: #fff;
  justify-content: center;
  gap: 16px;
}
.sec-areYouCreator .btnTalkToUs {
  margin: 100px auto 0;
}

/*=== Basic box styling  ===*/
.box {
  background: #2ecc71 none repeat scroll 0 0;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 150px;
  line-height: 150px;
  margin: 0 auto 3%;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 95%;
}

/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/
.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.two {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.three {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.four {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.five {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.six {
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
  animation-delay: 5.5s;
}

.seven {
  -webkit-animation-delay: 6.5s;
  -moz-animation-delay: 6.5s;
  animation-delay: 6.5s;
}

.eight {
  -webkit-animation-delay: 7.5s;
  -moz-animation-delay: 7.5s;
  animation-delay: 7.5s;
}

/*=== Animations start here  ===*/
/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*=== FADE IN DOWN ===*/
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*=== FADE IN UP Big ===*/
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/*=== FADE IN DOWN Big ===*/
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/*=== FADE IN LEFT Big ===*/
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/*=== FADE IN RIGHT Big ===*/
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
#id_viewport.show {
  display: block;
}

.title-secure {
  display: none;
}

.title-secure.show {
  display: block;
}

#ul_secureEdg {
  display: none;
}

#ul_secureEdg.show {
  display: block;
}

body {
  color: #000;
  font-size: 14px;
  width: 100%;
  font-family: "Mulish", sans-serif;
}

.title-ww-create {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  font-size: 22px;
}

.btnTalkToUs {
  display: flex;
  width: 160px;
  height: 50px;
  justify-content: space-evenly;
  background-color: #E24343;
  align-items: center;
  font-weight: 700;
  flex: none;
  border-radius: 28px;
  font-size: 16px;
  color: #fff;
  margin-top: 24px;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.582);
  }
  100% {
    box-shadow: 0 0 7px 25px rgba(0, 112, 244, 0);
  }
}
.sec-main {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  position: relative;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 9;
  display: flex;
  justify-content: center;
  top: 16px;
}
.header .logo {
  top: 1px;
  z-index: 9;
  background: rgba(0, 0, 0, 0.968627451);
  padding: 6px 12px;
  border-radius: 4px;
}

.banner {
  height: 750px;
  width: 100%;
  overflow: hidden;
}

.overlay-grid-img {
  position: absolute;
  top: 166px;
  left: 0;
  z-index: 2;
}

.overlay-background {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5176470588);
}

.overlay-content-background {
  position: absolute;
  top: 30%;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.slick-item img {
  width: 100%;
}

.content-banner {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 80px;
  padding: 0 24px;
  z-index: 9;
}

.contentTalkToUs {
  margin-top: 16px;
}
.contentTalkToUs p {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}

.lower-content {
  font-family: "Mulish", sans-serif;
}
.lower-content h3 {
  background-color: rgba(226, 67, 67, 0.631372549);
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  padding: 12px;
  display: inline-block;
}
.lower-content p {
  font-size: 32px;
  text-transform: capitalize;
  color: #fff;
  display: block;
  margin: 0;
}

.sec-secureEdge {
  background: #5CA3B1;
  padding: 40px 0;
}

.title-big-text {
  color: #fff;
  font-size: 28px;
}

.title-small-text {
  color: #fff;
  font-size: 14px;
  margin-top: 16px;
}

.arti-secureEdge {
  margin-top: 40px;
}
.arti-secureEdge ul li {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
  align-items: center;
  color: #fff;
}
.arti-secureEdge ul li .icon-secureEdge {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  border: 5px solid rgba(204, 204, 204, 0.5490196078);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
}
.arti-secureEdge .text-secureEdge {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.sec-successful-campaign {
  background-color: #30344E;
  padding: 40px 0 60px;
}
.sec-successful-campaign .list-successful ul li {
  margin-top: 40px;
}
.sec-successful-campaign .list-successful ul li .bx-successful {
  position: relative;
}
.sec-successful-campaign .list-successful ul li .bx-successful .video-image {
  width: 100%;
}
.sec-successful-campaign .list-successful ul li .bx-successful .video-image img {
  width: 100%;
}
.sec-successful-campaign .list-successful ul li .bx-successful .video-name {
  position: absolute;
  left: -5px;
  top: 16px;
  background-color: #F25A5A;
  padding: 4px 18px 4px 10px;
  color: #fff;
  border-radius: 0px 12px 12px 0px;
  font-size: 13px;
}
.sec-successful-campaign .list-successful ul li .bx-successful .icon-video {
  position: absolute;
  left: 43%;
  top: 35%;
}
.sec-successful-campaign .list-successful ul li .bx-successful .icon-video img {
  width: 100%;
}
.sec-successful-campaign .list-successful ul li:nth-child(2) .video-name {
  background-color: #4164F7;
}
.sec-successful-campaign .list-successful ul li:nth-child(3) .video-name {
  background-color: #39B6F8;
}

.sec-creators {
  background-color: #E5D165;
  padding: 50px 0 74px;
}
.sec-creators .img-social-group {
  margin-top: 0px;
  text-align: center;
}
.sec-creators .img-social-group img {
  margin: 0 auto;
}
.sec-creators .content-creators {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}
.sec-creators .arti-banner {
  margin-top: 60px;
}
.sec-creators .btnTalkToUs {
  margin: 60px auto 0;
}

footer {
  text-align: center;
  padding: 16px 0;
}
footer .content-footer {
  padding: 16px 0;
}