@import '../scss/Parts/common.scss';
@import '../scss/Parts/LeadingPartners.scss';
@import '../scss/Parts/PlanAcampaign.scss';
@import '../scss/Parts/AreYouCreator.scss';
@import '../scss/Parts/animation';

body{color:#000;font-size:14px;width:100%; 
    font-family: 'Mulish', sans-serif; 
}
.title-ww-create { 
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    font-size: 22px;
}
.btnTalkToUs { 
    display: flex;
    width: 160px;
    height: 50px;
    justify-content: space-evenly;
    background-color: #E24343;
    align-items: center;
    font-weight: 700;
    flex: none;
    border-radius: 28px;
    font-size: 16px;
    color: #fff;
    margin-top: 24px;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.582);
    }

    100% {
        box-shadow: 0 0 7px 25px rgba(0, 112, 244, 0);
    }
}
.sec-main {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    position: relative;
}
.header{
    position: absolute;
    width: 100%;
    z-index: 9;
    display: flex;
    justify-content: center;
    top: 16px;
    .logo  {
        top: 1px;
        z-index: 9;
        background: #000000f7;
        padding: 6px 12px;
        border-radius: 4px;  
    }
}
.banner {
    height: 750px;
    width: 100%;
    overflow: hidden;
}
.overlay-grid-img {
    position: absolute;
    top: 166px;
    left: 0;
    z-index: 2;
}
.overlay-background {
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: #00000084;
}
.overlay-content-background {
    position: absolute;
    top: 30%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0 0 0 / 90%));
}

.slick-item {
    img {
        width: 100%;
    }
}
.content-banner {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 80px;
    padding: 0 24px;
    z-index: 9;
}
.contentTalkToUs {
    margin-top: 16px;
    p {
        font-size: 14px;
        color: #fff;
        line-height: 20px;
    }
}
.lower-content {
    font-family: 'Mulish', sans-serif;
    h3 {
        background-color: #e24343a1;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        padding: 12px;
        display: inline-block;
    }
    p {
        font-size: 32px;
        text-transform: capitalize;
        color: #fff;
        display: block;
        margin: 0;
    }
}
.sec-secureEdge {
    background: #5CA3B1;
    padding: 40px 0;
}
.title-big-text {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    padding-left: 19px;
    border-left: 3px solid #fff;
}
.title-small-text {
    color: #fff;
    font-size: 14px;
    margin-top: 16px;
}
.arti-secureEdge {
    margin-top: 40px;
    ul {
        li{
            display: flex;
            gap: 24px;
            margin-bottom: 40px;
            align-items: center;
            color: #fff;
            .icon-secureEdge {
                width: 100px;
                height: 100px;
                background-color: #fff;
                border-radius: 50%;
                border: 5px solid #cccccc8c;
                display: flex;
                justify-content: center;
                align-items: center;
                flex: none;
            }
        }
    }
    .text-secureEdge {
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
    }
} 
// sec-successful-campaign
.sec-successful-campaign {
    background-color: #30344E;
    padding: 40px 0 60px;
    .title-big-text {
        color: #fff;
    }
    .list-successful {
        ul {
            li {
                margin-top: 40px;
                .bx-successful {
                    position: relative;
                    .video-image {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                    .video-name {
                        position: absolute;
                        left: -5px;
                        top: 16px;
                        background-color: #F25A5A;
                        padding: 4px 18px 4px 10px;
                        color: #fff;
                        border-radius: 0px 12px 12px 0px;
                        font-size: 13px;
                    }
                    .icon-video {
                        position: absolute;
                        left: 43%;
                        top: 35%;
                        img {
                            width: 100%;
                        }
                    }
                }
                &:nth-child(2) {
                    .video-name {
                        background-color: #4164F7;
                    }
                }
                &:nth-child(3) {
                    .video-name {
                        background-color: #39B6F8;
                    }                    
                }
            }
        }
    }
}
.sec-creators {
    background-color: #E5D165;
    padding: 50px 0 74px;
    .img-social-group {
        margin-top: 0px;
        text-align: center;
        img {
            margin: 0 auto;
        }
    }
    .content-creators {
        font-size: 18px;
        color: #000000;
        font-weight: 600;
    }
    .arti-banner {
        margin-top: 60px;
    }
    .btnTalkToUs {
        margin: 60px auto 0;
    }
}
footer {
    text-align: center;
    padding: 16px 0;
    .content-footer {
        padding: 16px 0;
        // border-top: 1px solid #ccc;
    }
} 